
<div class="blood-form">
    <h2>Add your blood values</h2>
    <form [formGroup]="bloodPressures" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="number" title="sys" placeholder="sys" formControlName="sys" />
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="number" title="dia" placeholder="dia" formControlName="dia" />
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="number" title="pulse" placeholder="pulse" formControlName="pulse" />
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="btn">Add values</button>
    </form>

    <br>

    <div>
        <table>
            <thead>
              <tr>
                <th>sys</th>
                <th>dia</th>
                <th>pulse</th>
                <th>date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of data | async'>
                <td>{{ item.sys }}</td>
                <td>{{ item.dia }}</td>
                <td>{{ item.pulse }}</td>
                <td>{{ item.date | dateFormat}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>