<span class="loading-init" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="log-form">
    <h2>Login to your account</h2>
    <div class="log-form-2">
        <mat-form-field>
            <input matInput type="text" title="email" placeholder="email" [formControl]="email" />
        </mat-form-field>
        
        <br>
        
        <mat-form-field>
            <input matInput type="password" title="username" placeholder="password" [formControl]="password" />
        </mat-form-field>
        
        <br>

        <button mat-raised-button type="submit" class="btn" (click)="login()">Login</button>
    </div>
</div>