<div class="footer">
    <div class="heading">
        <h2>VMOA<sup>™</sup></h2>
    </div>
    <div class="content">
        <div class="services">
            <h4>Services</h4>
            <p><a href="#">Vampire info</a></p>
            <p><a href="#">Blood donation</a></p>
            <p><a href="#">Shop</a></p>
        </div>
        <div class="social-media">
            <h4>Social</h4>
            <p>
                <a href="https://linkedin.com"><i class="fab fa-linkedin"></i> Linkedin</a>
            </p>
            <p>
                <a href="https://x.com"><i class="fab fa-twitter"></i> X</a>
            </p>
            <p>
                <a href="https://github.com/omii623"><i class="fab fa-github"></i> Github</a>
            </p>
            <p>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i> Facebook</a>
            </p>
            <p>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a>
            </p>
        </div>
        <div class="details">
            <h4 class="mobile">Mobile</h4>
            <p><a href="#">+36-123456789</a></p>
            <h4 class="mail">Email</h4>
            <p><a href="#">izé[kukac]bizé.com</a></p>
        </div>
    </div>
    <footer>
        <hr />
        © 2024 VMOA services.
    </footer>
</div>